@import url("./reset.css");
@import url("./variables.css");

* {
  box-sizing: border-box;
  font-family: var(--Font-family);
}

html {
  height: 100vh;
}

body {
  height: inherit;
}

.modal {
  display: none;
  background-color: rgba(18, 18, 18, 0.5);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  background-color: white;
  padding: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info > h1 {
  font-weight: var(--Heavy-weight);
  font-size: var(--Heading-size);
  text-align: center;
  line-height: var(--Line-heading);
}

.info > p {
  text-align: center;
}

.x-sign {
  display: flex;
  width: 1rem;
  height: 1rem;
  justify-content: space-between;
}

.x-line {
  background-color: black;
  height: 100%;
  width: 25%;
}

.line-left {
  position: relative;
  transform: rotate(45deg);
  left: 0.33rem;
}

.line-right {
  position: relative;
  transform: rotate(-45deg);
  right: 0.33rem;
}

.main-image {
  content: url("/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1\,c_fill\,g_auto__c_scale\,w_450.jpg");
}

figure,
figcaption {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: inherit;
  justify-content: space-around;
}

figcaption {
  align-items: center;
  padding: 0 1rem;
}

.fig-heading {
  font-weight: var(--Heavy-weight);
  font-size: var(--Heading-size);
  line-height: var(--Line-heading);
}

.fig-info {
  text-align: center;
  font-weight: var(--Main-weight);
  font-size: var(--Main-size);
  line-height: var(--Line-content);
}

#modal-btn {
  padding: 0.75rem 1.75rem;
  border: none;
  background-color: var(--Primary-color);
  color: var(--Btn-color);
  font-weight: var(--Heavy-weight);
  font-size: var(--Main-size);
  line-height: var(--Line-btn);
  border-radius: 4rem;
}
